@model StoryTime.Models.TwistPromptDetail

@{
    ViewBag.Title = "Delete";
}

<center class="font">
    <h2>Delete Plot Twist</h2>

    <h3>Are you sure you want to delete this plot twist?</h3>
</center>
<div class="index">
    <dl class="dl-horizontal">
        <dt class="font">
            @Html.DisplayNameFor(model => model.TwistId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TwistId)
        </dd>
        <br />
        <dt class="font">
            @Html.DisplayNameFor(model => model.Twist)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Twist)
        </dd>
        <br />
        <dt class="font">
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

        <dt class="font">
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUtc)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default font" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
