@model StoryTime.Models.StorySubmissionDetail

@{
    ViewBag.Title = "Details";
}

<h2>Story Details</h2>

<div class="index">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoryId)
        </dd>
        <br />
        @*<dt>
                @Html.DisplayNameFor(model => model.StudentId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StudentId)
            </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentName)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.StoryTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoryTitle)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.StoryText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoryText)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUtc)
        </dd>

    </dl>

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.StoryId }) |
        @if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("Back to List", "AdminIndex")
        }
        @if (User.Identity.IsAuthenticated && !User.IsInRole("Admin"))
        {
            @Html.ActionLink("Back to List", "Index")
        }
    </p>
</div>