@model StoryTime.Models.CharacterPromptDetail

@{
    ViewBag.Title = "Details";
}

<center><h2 class="font">Character Details</h2></center>

<div class="index">
    <dl class="dl-horizontal">
        <dt class="font">
            @Html.DisplayNameFor(model => model.CharacterId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterId)
        </dd>
        <br />
        <dt class="font">
            @Html.DisplayNameFor(model => model.Character)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Character)
        </dd>
        <br />
        <dt class="font">
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

        <dt class="font">
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUtc)
        </dd>

    </dl>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.CharacterId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
